<div>
    <div class="bg-warning">
        <%= dom_id article %>
    </div>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
